## Label and Ordinal Encoding

In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [2]:
#create sample categorical dataset
df=pd.DataFrame({'color':['red','green','blue','green','pink','red']
                 })

In [3]:
df

   color
0    red
1  green
2   blue
3  green
4   pink
5    red

In [4]:
# create an instant of label encoder
encoder=LabelEncoder()

In [5]:
encoder.fit_transform(df['color'])

array([3, 1, 0, 1, 2, 3])

In [13]:
# ordinal encoding
from sklearn.preprocessing import OrdinalEncoder
df=pd.DataFrame({
    'size':['large','small','large','large','medium','small','large','medium','small','small','medium','large']
})

In [16]:
df

      size
0    large
1    small
2    large
3    large
4   medium
5    small
6    large
7   medium
8    small
9    small
10  medium
11   large

In [14]:
# create an instant of the ordinalEncoder class and fit_transform
Ordinal_Encoder=OrdinalEncoder(categories=[['small','medium','large']])

In [17]:
Ordinal_Encoder.fit_transform(df[['size']])

array([[2.],
       [0.],
       [2.],
       [2.],
       [1.],
       [0.],
       [2.],
       [1.],
       [0.],
       [0.],
       [1.],
       [2.]])