## Nominal / OHE

In [1]:
from sklearn.preprocessing import OneHotEncoder

In [2]:
import pandas as pd

In [3]:
#create sample categorical dataset
df=pd.DataFrame({'color':['red','green','blue','green','pink','red']
                 })

In [4]:
# create an instant of OHE
encoder=OneHotEncoder()

In [9]:
#fit the encoder to the dataframe and transform the categorical variable
encoded=encoder.fit_transform(df[['color']])

In [8]:
import pandas as pd

In [13]:
encoded_df=pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [14]:
encoded_df

   color_blue  color_green  color_pink  color_red
0         0.0          0.0         0.0        1.0
1         0.0          1.0         0.0        0.0
2         1.0          0.0         0.0        0.0
3         0.0          1.0         0.0        0.0
4         0.0          0.0         1.0        0.0
5         0.0          0.0         0.0        1.0

In [15]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_pink  color_red
0    red         0.0          0.0         0.0        1.0
1  green         0.0          1.0         0.0        0.0
2   blue         1.0          0.0         0.0        0.0
3  green         0.0          1.0         0.0        0.0
4   pink         0.0          0.0         1.0        0.0
5    red         0.0          0.0         0.0        1.0